:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --text-shadow: 0 0 5px #555;
  --font-logo: 'Raleway', 'Segoe UI', sans-serif;
  --font-text: 'Roboto', 'Segoe UI', sans-serif;

  --shadow-color: rgba(0, 0, 0, 0.15);
  --text-color: rgba(0, 0, 0, 0.8);
}

html {
  box-sizing: border-box;
}

.body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--white-color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}

.container {
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* Button */
.button {
 font-family: Roboto;
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.62;
 text-align: center;

 color var(--title-text-color);
}

.button-list .button:hover, 
.button-list .button:focus {
 color: var(--white-color);
 background-color: var(--accent-color);
}

/* Examples */
.examples-list .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;

  color var(--title-text-color);
}
